
.app-bottom-box
{
  border-top: var(--medium-border);
}

#code-output {}

#code-output-field
{
    background-color: var(--main-background);
    font-family: 'Courier New', Courier, monospace;
    border: none;
    border-radius: 0;
    padding: 7px 10px 10px 10px;
    min-height: 25vh;
    overflow: auto;
    outline: none;
    resize: none;
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}


.app-terminal
{
    background-color: var(--main-background);
    border: none;
    font-family: var(--main-font);
    font-size: 16px;
    color: var(--main-text);
}
