/*

    Name:       TEST
    Author:     David Desandro / Jan T. Sott

    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-codemirror)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

.cm-s-TEST.CodeMirror {background: var(--code-background); color: #708394;}
.cm-s-TEST div.CodeMirror-selected
{ background: #090909 !important; }
.cm-s-TEST .CodeMirror-gutters 
{
    background: var(--code-background); border-right: 3px solid var(--code-background);
}
.cm-s-TEST .CodeMirror-linenumber 
{
    color: var(--active-background); padding-right: 5px; font-weight: bold;
}
.cm-s-TEST .CodeMirror-cursor {border-left: 1px solid #c0c0c0 !important;}

.cm-s-TEST span.cm-comment {color: #5f38ff;}
.cm-s-TEST span.cm-atom {color: #22d4bd;}
.cm-s-TEST span.cm-number {color: #22d4bd;}

.cm-s-TEST span.cm-property, .cm-s-TEST span.cm-attribute {color: #25a2a6;}
.cm-s-TEST span.cm-keyword {color: #25a2a6;}
.cm-s-TEST span.cm-string {color: #04da93;}

.cm-s-TEST span.cm-variable {color: #00875a;}
.cm-s-TEST span.cm-variable-2 {color: #fe3030;}
.cm-s-TEST span.cm-def {color: #00875a; font-weight: bold; }
.cm-s-TEST span.cm-error {background: #ff0000; color: #c0c0c0;}
.cm-s-TEST span.cm-bracket {color: #708394;}
.cm-s-TEST span.cm-tag {color: #22d4bd;}
.cm-s-TEST span.cm-link {color: #22d4bd;}

.cm-s-TEST .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}
.cm-s-TEST .CodeMirror-activeline-background { background: #202020; }
