/*

    Name:       JRDN
    Author:     David Desandro / Jan T. Sott

    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-codemirror)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

.cm-s-jrdn.CodeMirror {background: #000000; color: #708394;}
.cm-s-jrdn div.CodeMirror-selected
{ background: #090909 !important; }
.cm-s-jrdn .CodeMirror-gutters 
{
    background: #000; border-right: 3px solid #444;
}
.cm-s-jrdn .CodeMirror-linenumber 
{
    color: #808080; padding-right: 5px; font-weight: bold;
}
.cm-s-jrdn .CodeMirror-cursor {border-left: 1px solid #c0c0c0 !important;}

.cm-s-jrdn span.cm-comment {color: #5f38ff;}
.cm-s-jrdn span.cm-atom {color: #22d4bd;}
.cm-s-jrdn span.cm-number {color: #22d4bd;}

.cm-s-jrdn span.cm-property, .cm-s-jrdn span.cm-attribute {color: #25a2a6;}
.cm-s-jrdn span.cm-keyword {color: #25a2a6;}
.cm-s-jrdn span.cm-string {color: #04da93;}

.cm-s-jrdn span.cm-variable {color: #00875a;}
.cm-s-jrdn span.cm-variable-2 {color: #fe3030;}
.cm-s-jrdn span.cm-def {color: #00875a; font-weight: bold; }
.cm-s-jrdn span.cm-error {background: #ff0000; color: #c0c0c0;}
.cm-s-jrdn span.cm-bracket {color: #708394;}
.cm-s-jrdn span.cm-tag {color: #22d4bd;}
.cm-s-jrdn span.cm-link {color: #22d4bd;}

.cm-s-jrdn .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}
.cm-s-jrdn .CodeMirror-activeline-background { background: #202020; }
